{% extends 'base.html' %}

{% block title %} Страница о нас {% endblock %}
{% block text %}
<div class="main_center">
      <div class="main_center__start">
          <div class="main_start__header">
              <h1 class="text_h">О нас</h1>
              <p class="text">Мы обычный веб-лендинг, который предоставляет кратку, но интересную информацию о космосе.</p>
              <p class="text">Не забудьте поделиться статьей и с вашими друзьями!</p>
              <img src="{{ url_for('static', filename='img/cute-astronaut-sitting-on-moon(1).png') }}" alt="Астронавт" width="60%" style="display: flex; justify-content: center; margin: auto;">
          </div>
      </div>
</div>
{% endblock %}