{% extends 'base.html' %}
{% block title %} Главная страница {% endblock %}
{% block text %}
<div class="main_center">
                    <div class="main_center__start">
                        <div class="main_start__header" id="start">
                            <h1 class="text_h">Что вы знаете о космосе?</h1>
                            <p class="text">24 сент. 2023 г. | 5 min</p>
                            <p class="text">Тема: Интересные факты о космосе</p>
                            <img src="{{ url_for('static', filename='img/start_main.jpg') }}" alt="Главная картинка" style="width: 100%;">
                        </div>
                    </div>
                    <div class="main_center__st1">
                        <div class="main_st1_h">
                            <h1>Что такое космос</h1>
                        </div>
                        <div class="main_st1_text">
                            <p>Космос – это почти идеальный вакуум, безвоздушное пространство. Космос – это не пустота: он пронизан различными излучениями, а также содержит частицы газа, пыли и другой материи.</p>
                            <p>С Земли мы можем наблюдать планеты, звезды и галактики, которые находятся в пределах 46,5 миллиардов световых лет в любом направлении от нашей планеты. Эта часть космоса называется обозримой Вселенной. Предполагаемый возраст Вселенной составляет от 11,4 до 13,8 миллиардов лет.</p>
                        </div>
                    </div>
                    <div class="main_center__st1">
                        <div class="main_st1_h">
                            <h1>Где начинается космос?</h1>
                        </div>
                        <div class="main_st1_text">
                            <p>Космос — это все, что находится за пределами условной линии, отделяющей Землю от космического пространства. Есть разные способы определить, где именно начинается космос. Наиболее универсальной точкой отсчета является линия Кармана, которая проходит на высоте 100 км над средним уровнем моря. Начиная с этой отметки, воздух становится слишком разреженным для полета обычных самолетов.</p>
                        </div>
                    </div>
                    <div class="main_center__st1">
                        <div class="main_st1_h">
                            <h1>Границы космических пространств</h1>
                        </div>
                        <div class="main_st1_text">
                            <p>Космос можно разделить на несколько областей. Они определяются магнитными полями и “ветрами”, господствующими в их границах.</p>
                            <ul>
                                <li><b>Околоземное пространство</b> – область космоса, окружающая Землю. Она расположена между верхними слоями атмосферы и самыми дальними участками магнитного поля Земли.</li>
                                <li><b>Околоземное пространство</b> – область космоса, окружающая Землю. Она расположена между верхними слоями атмосферы и самыми дальними участками магнитного поля Земли.</li>
                                <li><b>Межзвездное пространство</b> – это физическое пространство между звездными системами в пределах галактики. Оно заполнено межзвездной средой (МЗС), которая состоит из газа и пыли.</li>
                                <li><b>Межгалактическое пространство</b> – это физическое пространство между галактиками. Оно очень близко к абсолютному вакууму, поскольку в нем нет пыли и космического мусора.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="main_center__st1">
                        <div class="main_st1_h">
                            <h1>Как устроен космос?</h1>
                        </div>
                        <div class="main_st1_text">
                            <p>По мнению ученых, Вселенная состоит из трех субстанций: нормальной материи, темной материи и темной энергии.</p>
                            <h2>Нормальная материя</h2>
                            <p>Нормальная, или барионическая, материя представляет собой протоны, нейтроны и электроны. Из нее состоит все, что мы можем увидеть: звезды, планеты, деревья, животные и люди. Как ни странно, ее доля во Вселенной крайне мала – менее 5%.</p>
                            <h2>Темная материя</h2>
                            <p>Темная материя не излучает и не поглощает свет или энергию, а потому абсолютно невидима. Ученые предполагают, что она состоит из небарионической материи – вимпов (слабовзаимодействующих массивных частиц), нейтралино и нейтрино. Несмотря на то, что темную материю невозможно увидеть, результаты наблюдений позволяют астрономам допускать ее существование. К примеру, исследования спиральных галактик показали, что в них содержится гораздо больше массы, чем можно наблюдать визуально. Если бы темной материи не существовало, эти галактики бы просто распались, потому что гравитации одной лишь нормальной материи было бы недостаточно для того, чтобы удержать все частицы вместе. Темная материя предположительно составляет около 27% Вселенной.</p>
                            <h2>Темная энергия</h2>
                            <p>Темная энергия – это гипотетическая форма энергии, которая противодействует гравитации: она отдаляет космические объекты друг от друга, тогда как гравитация, напротив, их притягивает. Ученые предложили концепцию темной энергии, чтобы объяснить, почему вселенная расширяется с ускорением. Пока не удается определить природу и происхождение темной энергии: в данном случае, “темная” означает скорее “неизведанная”, чем действительно невидимая, как в случае с темной материей. По разным оценкам, темная энергия составляет примерно 68% Вселенной.</p>
                        </div>
                    </div>
                    <div class="main_center__st1">
                        <div class="main_st1_h">
                            <h1>5 самых необычных объектов в космосе</h1>
                        </div>
                        <div class="main_st1_slider">
                            <div class="st1_slider fade">
                                <h2>Самое холодное место в космосе</h2>
                                <img src=" {{ url_for('static', filename='img/1140x641.jpg') }}" width="100%">
                                <p>Пока что самым холодным местом во Вселенной считается туманность Бумеранг. Она расположена в созвездии Центавра, примерно в 5 000 световых лет от Земли. Температура внутри туманности составляет -272 °C: не хватает всего градуса до абсолютного нуля.</p>
                            </div>
                            <div class="st1_slider fade">
                                <h2>Самое жаркое место в космосе</h2>
                                <img src="{{ url_for('static', filename='img/1140x6412.jpg') }}" width="100%">
                                <p>Квазар 3C 273 в созвездии Девы – одно из самых жарких мест в космосе. Температура здесь достигает от 20 до 40 триллионов градусов Цельсия. Кстати, 3C 273 – не только самый первый, но и самый яркий среди квазаров (его видимый блеск составляет 12,9).</p>
                            </div>
                            <div class="st1_slider fade">
                                <h2>Самая древняя звезда в космосе</h2>
                                <img src="{{ url_for('static', filename='img/1140x6413.jpg') }}" width="100%">
                                <p>Возраст звезды Мафусаил (HD 140283, HIP 76976) составляет 16 миллиардов лет, что делает ее старейшей звездой в космосе – как ни странно, она даже старше самой Вселенной (ученые пока выясняют, как такое возможно). Звезда расположена в созвездии Весов, и ее можно увидеть в бинокль (ее видимый блеск составляет 7,2).</p>
                            </div>
                            <div class="st1_slider fade">
                                <h2>Самый большой объект в космосе</h2>
                                <img src="{{ url_for('static', filename='img/1140x6414.jpg') }}" width="100%">
                                <p>Великая стена Геркулес — Северная Корона –- один из самых крупных объектов в космосе. Она простирается на 10 миллиардов световых лет и содержит в себе миллиарды галактик. Она находится в 10 миллиардах световых лет от нас, в направлении созвездий Геркулес и Северная Корона.</p>
                            </div>
                            <div class="st1_slider fade">
                                <h2>Самый объемный источник воды в космосе</h2>
                                <img src="{{ url_for('static', filename='img/1140x6415.jpg') }}" width="100%">
                                <p>Самый большой резервуар воды в космосе содержит в 140 триллионов раз больше воды, чем все океаны на нашей планете. Это облако водяного пара, окружающее квазар APM 08279+5255, который находится в созвездии Рыси, на расстоянии 12 миллиардов световых лет от нас.

                                    Список самых необычных объектов во Вселенной может быть бесконечным: в него можно включить и планету из алмазов, и единственную “хвостатую” планету Солнечной системы, и небесное тело, на котором похоронен человек. Узнайте больше об этих космических объектах в нашей статье.</p>
                            </div>
                            <a class="next" onclick="plusSlides(-1)">&#10094</a>
                            <a class="back" onclick="plusSlides(1)">&#10095</a>
                        </div>
                        <div style="display: flex; justify-content: center; margin-top: 20px;">
                            <span class="dot" onclick="currentSlide(1)"></span>
                            <span class="dot" onclick="currentSlide(2)"></span>
                            <span class="dot" onclick="currentSlide(3)"></span>
                            <span class="dot" onclick="currentSlide(4)"></span>
                            <span class="dot" onclick="currentSlide(5)"></span>
                        </div>
                    </div>
                </div>
                <div class="main_footer">
                    <hr style="width: 80%; color: rgb(255, 255, 255);">
                    <button class="button fade">
                        <a href="#start" class="fade">Обратно</a>
                    </button>
                </div>
{% endblock %}